
<div class="jumbotron">
    <%= image_tag 'heroimage1.jpg' %>
</div>

<div class="main">
	<div class="container">
		<div class="row">
			<% @products.each do |product| %>
				<div class="col-md-4">
					<div class="products">
						<div class="productdescription">
							<div class="product_image"><%= image_tag product.image %></div>
							<p><%= product.description %></p>
						</div>
						<% if product.reviews.last %>
							<h5>Latest Review</h5>
							<div class="latestreview">
								<div class="reviewtitle">
									<h4><%= product.reviews.last.reviewtitle %></h4>
									<span> <%= product.reviews.last.rating %></span>
								</div>
								<div class="reviewtext">
									<p><%= product.reviews.last.review %></p>
								</div>
								<div class="metadata">
									<%= image_tag 'profile.png' %>
									<%= product.reviews.last.username %>
									<span class="reviewtime">
									<%= product.reviews.last.updated_at.strftime("%B %d, %Y @ %l:%M:%S %P") %>
									</span>
								</div>
							</div>
							<div class="button">
								<button class="btn btn-default readreviews"><%=link_to 'More Reviews', product %></button>
							</div>
						<% else %>
							<h5>Latest Review</h5>
							<div class="latestreview reviewtext">
								No one has written a review yet...
							</div>
							<div class="button">
								<button class="btn btn-default readreviews"><%=link_to 'Be the First', product %></button>
							</div>
						<% end %> 
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

