<div class="container" id="review">
		<div class="row">	
			<h1><%= @product.name %></h1>
			<% @reviews.each do |review| %>
		</div>			



		<div class="row">

			<div class="col-md-8" id="review_title">
				<div><%= review.reviewtitle %></div>
				<div class="review_user"><%= review.username %></div>
			</div>
				<div class="col-md-2" id="upvote">
					<button class="btn btn-default"><%= link_to "+1", review_path(review), class: "fa fa-caret-up", method: :put %></button>
				</div>
				<div class="col-md-2" id="rating">
					<h3 class="rating"><%= review.rating %></h3>
				</div>
					<% end %>	
		</div>
</div>
