<h1><%= @product.name %></h1>
<% @reviews.each do |review| %>

	<div><%= review.reviewtitle %></div>
	<div><%= review.username %></div>
	<button class="btn btn-default"><%= link_to "+1", review_path(review), class: "fa fa-caret-up", method: :put %></button>
	<h3><%= review.rating %></h3>


<% end %>