<div class="container" id="review">
		<div class="row review title">	
			<h1><%= @product.name %></h1>
			<% @reviews.each do |review| %>
		</div>			



		<div class="row review">

			<div class="col-md-8" id="review_detail">
				<div class="review_title"><%= review.reviewtitle %></div>
				<div class="review_description"><%= review.review %></div>
				<div class="review_user"><%= review.username %></div>
			</div>
				<div class="col-md-2 upvote">
					<div class="button">
						<button class="button btn btn-default"><%= link_to "+1", review_path(review), class: "fa fa-caret-up", method: :put %></button>
					</div>
				</div>
				<div class="col-md-2 rating" id="rating">
					<h3 class="rating"><%= review.rating %></h3>
				</div>
					<% end %>	
		</div>
</div>
