<div class="container" id="review">
		<div class="row review title">	
			<h1><%= @product.name %></h1>
		</div>

		<div class="form">
			<%= form_for(:review, url: product_reviews_path(:product_id)) do |f| %>
				<%= f.text_field :reviewtitle, :placeholder => "Title" %>
				<%= f.text_field :review, :placeholder => "Type your review here" %>
				<%= f.text_field :username, :placeholder => "Enter your name here" %>
				<%= f.hidden_field :rating, :value => 0 %>
				<%= f.hidden_field :product_id, :value => @product.id %>
				<%= f.submit "Submit", :class => 'btn' %>
			<%end%>
		</div>

		<% @reviews.each do |review| %>
		<div class="row review">

			<div class="col-md-8" id="review_detail">
				<div class="review_title"><%= review.reviewtitle %></div>
				<div class="review_description"><%= review.review %></div>
				<div class="review_user"><%= review.username %></div>
			</div>
				<div class="col-md-2 upvote">
					<div class="button">
						<button class="button btn btn-default"><%= link_to "+1", product_path(review), class: "fa fa-caret-up", method: :put %></button>
					</div>
				</div>
				<div class="col-md-2 rating" id="rating">
					<h3 class="rating"><%= review.rating %></h3>
				</div>
					
		</div>
		<% end %>	
</div>
